---
import BaseLayout from '@layouts/Base.astro'
import PostCard from '@components/PostCard.astro'
import type { PostFrontmatter } from '../../types'

const props = {
    meta: {
        description: 'Edwin Garcia personal blog',
        keywords: 'Blog, Technology, Web, Development, Personal'
    },
    title: 'Edwing123 | Blog'
}

const posts = await Astro.glob<PostFrontmatter>('./posts/*.md')
---

<BaseLayout {...props}>
    <h1>Posts</h1>

    <section class="posts">
        {
            posts.map((post) => (
                <PostCard
                    title={post.frontmatter.title}
                    createdAt={post.frontmatter.date}
                    url={`/blog/${post.frontmatter.slug}`}
                />
            ))
        }
    </section>
</BaseLayout>

<style>
    h1 {
        margin-bottom: 2rem;

        font-size: var(--font-size-3);
        color: var(--color-black-1);
    }

    :global([data-is='post']) {
        margin-bottom: 2rem;
    }
</style>
