---
import BaseLayout from '@layouts/Base.astro'

const props = {
    meta: {
        keywords: 'Personal, Blog, Portfolio',
        description: 'The personal website of Edwin Garcia'
    },
    title: 'Edwing123 | Home'
}
---

<script>
    import { WritingAnimation } from '../js/writing-animation'

    window.addEventListener('DOMContentLoaded', () => {
        const $el: HTMLElement = document.querySelector('#word')!
        const animation = new WritingAnimation({
            $el,
            initial: 'do',
            words: ['do', 'code', 'think', 'try', 'read']
        })

        animation.start()
    })
</script>

<BaseLayout {...props}>
    <h1>Hey there! I am Edwin Garcia</h1>
    <p class="introduction">
        I
        <span id="word" class="word">do</span>
        things.
    </p>
</BaseLayout>

<style>
    h1 {
        font-size: var(--font-scale-4);
        color: var(--color-black);
    }

    p {
        font-size: var(--font-scale-3);
        color: var(--color-black);
        font-weight: bold;
    }

    .word {
        color: var(--color-red);
    }
</style>
