---
---

<header>
    <a href="/" class="page-logo">Edwing123</a>
    <nav>
        <a href="/" class="first">Home</a>
        <a href="/blog/" class="second">Blog</a>
        <a href="/projects/" class="third">Projects</a>
    </nav>
</header>

<style>
    header {
        display: flex;
        padding: 2rem 0 0;

        font-size: var(--font-size-2);
        color: var(--color-black-1);
        font-weight: bold;
    }

    .page-logo {
        margin-right: 8rem;
    }

    nav {
        display: flex;
        gap: 3rem;

        text-decoration: underline;
    }

    .first {
        color: #463c73;
    }

    .second {
        color: #3c6848;
    }

    .third {
        color: #02407e;
    }
</style>
