---
---

<header>
    <a href="/" class="page-logo">Edwing123</a>
    <nav>
        <a href="/" class="blue">Home</a>
        <a href="/blog/" class="green">Blog</a>
        <a href="/projects/" class="violet">Projects</a>
    </nav>
</header>

<style>
    header {
        display: flex;
        padding: 2rem 0 0;

        font-size: var(--font-scale-2);
        color: var(--color-black);
        font-weight: bold;
    }

    .page-logo {
        margin-right: 10rem;
    }

    nav {
        display: flex;
        gap: 6rem;
    }

    .blue {
        color: var(--color-blue);
    }

    .green {
        color: var(--color-green);
    }

    .violet {
        color: var(--color-violet-dark);
    }
</style>
