---
import Header from '@components/Header.astro'

type Metadata = {
    description: string
    keywords: string
}

export type Props = {
    title: string
    meta: Metadata
}

const { title, meta } = Astro.props as Props
const { description, keywords } = meta
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- General metadata -->
        <meta charset="utf8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <link rel="shortcut icon" href="/favicon.svg" />

        <!-- Page specific metadata -->
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords} />

        <!-- Resources -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <Header />

            <main class="main">
                <slot />
            </main>
        </div>
        <style is:global>
            *,
            *::before,
            *::after {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            :root {
                --root-font-family: 'Titillium Web', sans-serif;
                --root-font-size: 62.5%;

                /* Colors */
                --body-bg-color: #fafaf6;
                --color-white-2: #f0f0f0;
                --color-black: #0b032d;
                --color-blue: #482ff7;
                --color-red: #ff304f;
                --color-green: #239460;
                --color-violet-dark: #574b90;
                --color-violet-dark-2: #231c42;

                /* Font sizes */
                --font-scale-1: 2rem;
                --font-scale-2: 3.4rem;
                --font-scale-3: 5.5rem;
                --font-scale-4: 7rem;
            }

            :root {
                font-family: var(--root-font-family);
                font-size: var(--root-font-size);
                line-height: 1.5;
            }

            body {
                background-color: var(--body-bg-color);
            }

            a,
            input,
            textarea,
            button {
                font-size: inherit;
                font-family: inherit;
                color: inherit;
                text-decoration: none;
            }

            .container {
                width: 96%;
                margin: 0 auto;
            }

            main {
                margin-top: 4.5rem;
            }

            *::selection {
                background-color: #dad5fd;
            }
        </style>
    </body>
</html>
